<p>reactiveforms2 works!</p>
<form >
    

    <p>
        <label>Register Name</label>
        <input type="text" formControlName="name">
    </p>
    <!----------------------------------------->
    <p>
        <label>Enter Password</label>
        <input type="password" formControlName="pwd">
    </p>
    <!------------------------------------------------>
    <p>
        <label>Confirm Password</label>
        <input type="password" formControlName="cpwd">
    </p>
    <!------------------------------------------------->
    <p>
        <label>Enter MailId</label>
        <input type="text" formControlName="mailid">
    </p>
    
   <!------------------------------------------------>
    
    <p>
        <label>
            Phone No
        </label>
        <input type="number" formControlName="phone">
    </p>
    
    <!--------------------------------------------->
    <p>
        <label>
            Gender
        </label>
        <input type="text" formControlName="gender">
    </p>
    
    <button class="btn btn-success" type="submit" >Login</button>

</form>
